<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Location" value="C:\Projects\WayneDoctorFusionIFSF\"/>
    <add key="FusionIFSF_IP" value="192.168.85.209"/>
    <add key="FusionIFSF_PORT" value="4710"/>
    <add key="DatabaseConnection" value="Server=VISION-HP\SQLEXPRESS;DataBase=;User ID=;Password=;Trusted_Connection=true;"/>
    <add key="INTERFACEVERSION" value="01.00" />
  </appSettings>
</configuration>